@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	background-color: #2C3E50;
}


.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 70px;
	color: #f5f5f5 !important;
	
}
.cerrar{
	color: #f5f5f5;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;

	color: #f5f5f5 !important;
}
.cerrar:hover {
  
	border-bottom: 3px solid  #2ebd94;
	
  }

.navbar-nav .nav-link:hover {
  
	border-bottom: 3px solid  #2ebd94;
	
  }



.navbar-light .navbar-brand {
	
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}


span{
	color: #2ebd94;
}
.iluminar {
    box-shadow: 0 0 13px#2C3E50; /* Color de la iluminación, puedes ajustarlo según tus preferencias */
  }
  p{
	text-align: justify;
  }
.banner {
	

margin: 50px;

background-color: #99d1c1;



}

.container {
	display: flex;
	justify-content: center;
	
  }
  
  .container img {
 margin-top: 120px;
  }
  
